:root {
  /* --MauChuDao: #075b69; */
  --MauChuDao: #000000;
}

body {
  background: radial-gradient(
    circle,
    rgb(201, 212, 218) 0%,
    rgb(122, 182, 219) 100%
  );
}

h2 {
  display: block;
  margin: 5px auto 5px auto;

  color: var(--MauChuDao);
  font-family: sans-serif;
  text-align: center;
}

.xacthuc {
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

input {
  width: 200px;
  height: 40px;

  display: block;
  margin: 5px auto 5px auto;

  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
}

button {
  width: 200px;
  height: 40px;

  display: block;
  margin: 5px auto 5px auto;

  border-radius: 10px;
  background-color: var(--MauChuDao);
  color: white;
}

button:hover {
  font-size: 15px;
}

/* input file */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.hidden {
  display: none;
}

/* Tải file lên  */

.taifilelen {
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

input[type="file"] {
  width: 200px;
  height: 57px;
  color: #444;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid grey;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.taifilexuong {
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

textarea {
  display: block;
  margin: 5px auto 5px auto;

  width: 90%;
  height: 250px;
  border: 1px solid grey;
  border-radius: 10px;
  resize: vertical;
  padding: 20px;
}

#gopy {
  width: 300px;
  height: 280px;
  background-color: #2dda66;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 25px;
  border: 1px solid grey;
  border-radius: 10px;
}

.header {
  position: relative;
}

.header img {
  width: 120px;
}

.header h1 {
  position: absolute;
  text-align: right;

  top: -10px;
  left: 170px;
}
